@page
@model SchoolManagement.Pages.Student.ExamsModel
@{
}




<div class="content-wrapper"> 
    <section class="content-header">
        <div class="container-fluid">
            <!-- 1st container fluid start-->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Exam</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="AttendenceList">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>


     
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="card card-primary card-outline card-info">
                    <h5 class="ml-3">Exam</h5>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="exam.Id" />

                        <div class="card-body ">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="ml-2"> Subject Name </label>
                                    <input type="text" asp-for="exam.SubjectName" class="form-control" placeholder="Subject Name" required>
                                </div>
                                 <div class="col-lg-4">
                                    <label class="ml-2"> Exam Timing</label>
                                    <input type="text" asp-for="exam.ExamTiming" class="form-control" placeholder="Exam Timing" required>
                                </div>
                                 <div class="col-lg-4">
                                    <label class="ml-2"> Exam Duration </label>
                                    <input type="text" asp-for="exam.ExamDuration" class="form-control" placeholder="Exam Duration" required>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="text-center mt-3">

                                @if (Model.exam.Id != 0)
                                {
                                    <button type="submit" class="btn btn-info">UPDATE</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-info">SUBMIT</button>

                                }
                            </div>

                        </div>
                    </form>


                </div>




                <form method="post">

                    <div class="card-body card card-outline card-success pl-1">
                        <div class="card-header">

                            <h3 class="mr-2">Datalist</h3>
                        </div>

                        <table id="example1" class="table table-bordered table-striped">
                            <!--For drop menu-->
                            <thead>
                                <tr>
                                    <th scope="col">Subject Name</th>
                                    <th scope="col"> Exam Timing</th>
                                    <th scope="col"> Exam Duration</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.ExamDatalist.Count() > 0)
                                {
                                    foreach (var item in Model.ExamDatalist)
                                    {
                                        <tr>

                                            <td>@item.SubjectName</td>
                                            <td>@item.ExamTiming</td>
                                            <td>@item.ExamDuration</td>
                                           
                                            



                                            <td class="mr-5">
                                                <a asp-page="Exams" asp-route-id="@item.Id" class="btn btn-success">EDIT</a>


                                                <button asp-page-handler="Delete" asp-route-id="@item.Id"
                                                        onclick="return confirm('Are you sure you want to DELETE?')" class="btn btn-danger">
                                                    DELETE
                                                </button>

                                            </td>
                                        </tr>
                                    }
                                }

                                else
                                {

                                    <tr>No data found</tr>

                                }

                            </tbody>

                        </table>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>



@section Scripts{


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @{
        if (TempData["success"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
        }

        if (TempData["error"] != null)
        {
            <script type="text/javascript">
                toastr.error('@TempData["error"]');
            </script>
        }
        if (TempData["info"] != null)
        {
            <script type="text/javascript">
                toastr.info('@TempData["info"]');
            </script>
        }
    }

}