@page
@model SchoolManagement.Pages.Student.feeInfoModel
@{
}




<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <!-- 1st container fluid start-->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Fees Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="AttendenceList">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>



    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">

                <form method="post">
                    <div class="card-body card card-outline card-success pl-1">
                       
                        <table id="example1" class="table table-bordered table-striped">
                            <!--For drop menu-->
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Total Fees</th>
                                    <th scope="col">Paid Fess</th>
                                    <th scope="col">Due Fees</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.feesinfoDatalist.Count() > 0)
                                {
                                    foreach (var item in Model.feesinfoDatalist)
                                    {
                                        <tr>

                                            <td>@item.NameDropdown</td>
                                            <td>@item.TotalFee</td>
                                            <td>@item.PaidFess</td>
                                            <td>@item.DueFees</td>

                                        </tr>
                                    }
                                }
                                else
                                {

                                    <tr>No data found</tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @{
        if (TempData["success"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
        }

        if (TempData["error"] != null)
        {
            <script type="text/javascript">
                toastr.error('@TempData["error"]');
            </script>
        }
        if (TempData["info"] != null)
        {
            <script type="text/javascript">
                toastr.info('@TempData["info"]');
            </script>
        }
    }

    }
