@page
@model SchoolManagement.Pages.Teacher.AttendanceModel
@{
}


 
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <!-- 1st container fluid start-->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Student Attendence</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="ApprovedForExamination">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>



    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="card card-primary card-outline card-info">
                    <h5 class="ml-3">Student Attendence</h5>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Attendance.Id" />
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="ml-2"> USN </label>
                                    <select id="USNDropdown" class="form-control select2" asp-items="Model.optionUSNDropdown" asp-for="StudentDetailsID" required></select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="ml-2"> Select Student Name </label>
                                    <select id="NameDropdown" class="form-control select2" asp-items="Model.optionNameDropdown"></select>
                                </div>
                                <div class="col-lg-4">
                                    <label class="ml-2">Date</label>
                                    <input type="date" asp-for="Attendance.Date" class="form-control" placeholder="Date" required>
                                </div>
                                <div class="col-md-4">
                                    <div class="ml-2"> <label>Attendence</label></div>
                                    <div class="d-block">
                                        <div class="custom-control custom-radio custom-control-inline ml-4">
                                            <input type="radio" id="customRadioInline1" asp-for="Attendance.Attendance" value="Present" checked="checked" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1"> Present </label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" asp-for="Attendance.Attendance" value="absent" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2"> absent </label>
                                        </div>
                                   
                                    </div>
                                </div>


                            </div>
                            <!-- /.card-body -->
                            <div class="text-center mt-3">

                                @if (Model.Attendance.Id != 0)
                                {
                                    <button type="submit" class="btn btn-info">UPDATE</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-info">SUBMIT</button>

                                }
                            </div>

                        </div>
                    </form>
                </div>
                <form method="post">
                    <div class="card-body card card-outline card-success pl-1">
                        <div class="card-header">
                            <h3 class="mr-2">Datalist</h3>
                        </div>
                        <table id="example1" class="table table-bordered table-striped">
                            <!--For drop menu-->
                            <thead>
                                <tr>
                                    <th scope="col">USN</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Attendance & Leaves</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.studentAttendancesDatalist.Count() > 0)
                                {
                                    foreach (var item in Model.studentAttendancesDatalist)
                                    {
                                        <tr>
                                            <td>@item.USNDropdown</td>
                                            <td>@item.NameDropdown</td>
                                            <td>@item.Attendance</td>
                                            <td>@item.Date</td>
                                            <td class="mr-5">
                                                <a asp-page="Attendance" asp-route-id="@item.ID" class="btn btn-success">EDIT</a>
                                                <button asp-page-handler="Delete" asp-route-id="@item.ID"
                                                        onclick="return confirm('Are you sure you want to DELETE?')" class="btn btn-danger">
                                                    DELETE
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {

                                    <tr>No data found</tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @{
        if (TempData["success"] != null)
        {
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
        }

        if (TempData["error"] != null)
        {
            <script type="text/javascript">
                toastr.error('@TempData["error"]');
            </script>
        }
        if (TempData["info"] != null)
        {
            <script type="text/javascript">
                toastr.info('@TempData["info"]');
            </script>
        }
    }

    <script src="~/js/usn.js"></script>ssss

    }


